:root {
  --modColor: #1B9CFC;
  --modColor_light: #25CCF7;
  --modColor_dark: #3B3B98;
  --modColor_darkest: #182C61;
  --modBGColor: #FCFCFC;
  --modBGColor_light: #FEFEFE;
}



.wareMainBox, .wareMainBox *{
    box-sizing:  border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: "Arial";
}

.wareMainBox{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.wareMainBox .tableBox{
    display: flex;
    flex-direction: column;
    align-items:  flex-start;
    width: calc(100% - 300px);
    padding-left: 25px;
    border-left: 1px #444 dotted;
}

.wareMainBox>.subcountSelectHeader{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}

.subcountSelectTitle{
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    font-size: 26px;
    margin-top: 20px;
    align-items: center;
    text-align: left;
    width: 100%;
    color: var(--modColor_darkest);
}

/*
.wareMainBox>.subcountSelectHeader>.headerBlock{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    padding-left: 15px;
    margin-top: 20px;
}

.wareMainBox>.subcountSelectHeader>.headerBlock>.input{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20px;
    
}

.wareMainBox>.subcountSelectHeader>.headerBlock>.input>.data{
    border: 1px black solid;
    padding: 2px 5px;
    height: 100%;
    width: 200px;
}
*/


.wareMainBox>.subcountSelectHeader>.buttonBlock{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    padding-left: 15px;
    margin-top: 30px;
}

.wareMainBox>.subcountTableBox{
    width: 100%;
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}
/*
.wareMainBox .subcountSelectTable{
    width: 100%;
    border-collapse: collapse;
}

.wareMainBox .subcountSelectTable td, .wareMainBox .subcountSelectTable th{
    border: 1px #333 solid;
    padding: 5px;
    
}

.wareMainBox .subcountSelectTable td{
    font-size: 15px;
    
    
}
*/

.wareMainBox #tableBox_info>.baseTable{
    position: sticky;
    top: 20px;
}

.wareMainBox .subcountSelectTable .groupRow{
    background-color:  #25CCF7;
    cursor: pointer;
}

/*
.wareMainBox .subcountSelectTable>thead{
    background-color:  #0065b9;
    color: #fff;
}*/

.wareMainBox>.buttonBlock{
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    align-items: center;
    width: 50%;
    padding-left: 15px;
    margin-top: 30px;
}


.wareMainBox table .about{
    text-align: center;
    padding: 0px;
}

.wareMainBox table .name{
    cursor: pointer;
}

.wareMainBox table tr.selected{
    background-color:  #222;
    color: #ddd;
}

.wareMainBox table tr.hidden{
    display: none;
}