:root {
  --modColor: #1B9CFC;
  --modColor_light: #25CCF7;
  --modColor_dark: #3B3B98;
  --modColor_darkest: #182C61;
  --modBGColor: #FCFCFC;
  --modBGColor_light: #FEFEFE;
}



.wareMainBox, .wareMainBox *{
    box-sizing:  border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: "Arial";
}

.wareMainBox{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.wareMainBox .tableBox{
    display: flex;
    flex-direction: column;
    align-items:  flex-start;
    width: calc(100% - 300px);
    padding-left: 25px;
    border-left: 1px #444 dotted;
}

.wareMainBox>.reportHeader{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}

.reportTitle{
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    font-size: 26px;
    margin-top: 20px;
    align-items: center;
    text-align: left;
    width: 100%;
    color: var(--modColor_darkest);
}


/*.wareMainBox>.reportHeader>.headerBlock{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    padding-left: 15px;
    margin-top: 20px;
}


.wareMainBox>.reportHeader>.headerBlock>.input{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 20px;
    
}

.wareMainBox>.reportHeader>.headerBlock>.input>.data{
    border: 1px black solid;
    padding: 2px 5px;
    height: 100%;
    width: 200px;
}*/


.wareMainBox>.reportHeader>.buttonBlock{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    padding-left: 15px;
    margin-top: 30px;
}



/*.wareMainBox .reportTable{
    width: 100%;
    border-collapse:  collapse;
}

.wareMainBox .reportTable td, .wareMainBox .reportTable th{
    border: 1px #333 solid;
    padding: 5px;
    
}

.wareMainBox .reportTable td{
    font-size: 15px;
    
    
}

.wareMainBox .reportTable>tbody  tr:nth-child(odd){
    background-color:  #bbb;
}

.wareMainBox .reportTable>thead{
    background-color:  #0065b9;
    color: #fff;
}*/

.wareMainBox>.buttonBlock{
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    align-items: center;
    width: 50%;
    padding-left: 15px;
    margin-top: 30px;
}